Repository sniff-dev/sniff: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{json,md,mdx,yaml,yml}": ["pnpm exec prettier --write"]
}

chore(release): cli-v1.29.0
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  5760ce5fda8e6531e19a438798f58002117658bb
Due: none

Notes added by 'git notes add'
  c46d2a9aee620b7a3847b9474d3a95f5469d490f
Due: none

fix: wrangler config
  apps/proxy/wrangler.toml
Due: none

chore(release): cli-v1.29.1
  apps/cli/package.json
Due: pnpm exec prettier --write

chore(release): proxy-v1.11.1
  apps/proxy/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  4404d520e4ed666d16b40e3d278593617fc3685c
Due: none

Notes added by 'git notes add'
  108aacd21753045288f024aaad04b395cb735eaf
Due: none

chore(release): proxy-v1.11.2
  apps/proxy/package.json
Due: pnpm exec prettier --write

fix: matching conditions
  packages/orchestrator/src/coordinator.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): cli-v1.29.3
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  e772a96d5a4bb81de7c6ab664d76dac1a1e50bfb
Due: none

feat: linear attachment metadata prefetch
  packages/linear/src/attachments.ts
  packages/orchestrator/src/coordinator.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  3e996db99d6dbb1e17e78a5d015a4a94357b84ac
Due: none

chore(release): proxy-v1.12.0
  apps/proxy/package.json
Due: pnpm exec prettier --write

chore(release): cli-v1.31.0
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  dc34f39afd879f4201b8f4eb04d7d2780d029a79
Due: none

chore(release): cli-v1.31.1
  apps/cli/package.json
Due: pnpm exec prettier --write

chore(release): proxy-v1.13.1
  apps/proxy/package.json
Due: pnpm exec prettier --write

fix: whitelist supported file types
  packages/linear/src/attachments.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): cli-v1.31.2
  apps/cli/package.json
Due: pnpm exec prettier --write

chore(release): proxy-v1.13.2
  apps/proxy/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  8d18384faa80437239e54a27d25c6856d94a3ae2
Due: none

fix: attachment filename too long
  packages/linear/src/attachments.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  05024802a366bea9d5cbe6b8c17823a4f10a063b
Due: none
