Repository sniff-dev/sniff: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{json,md,mdx,yaml,yml}": ["pnpm exec prettier --write"]
}

Notes added by 'git notes add'
  708ce67b2afbf9f86d2770622b96abbebb298425
Due: none

Notes added by 'git notes add'
  f86b2f548938914eaa340fc4a0119ab05e624ee8
Due: none

Notes added by 'git notes add'
  9bcba0913dabb9819c260343a0adc6ce837e0780
Due: none

Notes added by 'git notes add'
  c966159967ae87ddb9abfd2beb66365b3f41f478
Due: none

feat: poll status from server
  packages/cli/src/commands/auth.ts
  packages/core/src/server/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  0fb3a9dd6d9d382fc413821840ccd35d53043d62
Due: none

Notes added by 'git notes add'
  65f722007cadf27cd475ecc158a5d2f200d66710
Due: none

Notes added by 'git notes add'
  1f77b754b09233f9e122a82c7ec44813cdf9ab88
Due: none

feat: clear token
  packages/core/src/server/index.ts
  packages/core/src/storage/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  6ab682a567416018e869058aa50e53ddba4d83ba
Due: none

fix: token polling
  packages/core/src/server/index.ts
  packages/core/src/storage/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  d8db44b2cbb20868f25e99e761ec8964edf1bcad
Due: none

chore: fix cicd
  .github/workflows/release-apps.yml
Due: pnpm exec prettier --write

fix: update github repo
  CONFIG.md
  README.md
  apps/cli/package.json
  apps/cli/src/commands/init.ts
  apps/proxy/package.json
  docs/docs.json
  docs/quickstart.mdx
  package.json
  packages/config/package.json
  packages/core/package.json
  sniff.yml.example
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): cli-v1.18.0
  apps/cli/package.json
Due: pnpm exec prettier --write

chore: fix proxy
  apps/proxy/.releaserc.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  faf816d35ef049fb365a7ca35aa337f8c34c04df
Due: none

chore(release): proxy-v1.0.1
  apps/proxy/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  dc36b943a188ad896e56946ef5d151679e2fafbd
Due: none

chore: pre push hook fix
  .githooks/pre-push
Due: none

Notes added by 'git notes add'
  d125e13e6329e21cee73679f905b4ea8eb397ffe
Due: none

Notes added by 'git notes add'
  9c95e51f403e989a1e62c9979cf2044978c5593e
Due: none

chore(release): proxy-v1.0.2
  apps/proxy/package.json
Due: pnpm exec prettier --write

fix: move workspace deps to devDependencies
  apps/cli/package.json
Due: pnpm exec prettier --write

fix: read version from package.json
  apps/cli/src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  ecaff085a7db77f1bfd7a483e6e5b38455eb4f4d
Due: none

chore(release): cli-v1.18.6
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  03d13d335e05ca355f66a3387c6299d0aaf2a007
Due: none

Notes added by 'git notes add'
  89e948e4bb9837c5a65207c37a7a09964a681ef3
Due: none

feat: update docs
  docs/.gitignore
  docs/docs.json
  docs/favicon.png
  docs/logo/dark.png
  docs/logo/logo.png
  docs/style.css
Due: pnpm exec prettier --write

fix: char encoding issue
  apps/cli/src/commands/status.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): cli-v1.19.0
  apps/cli/package.json
Due: pnpm exec prettier --write

chore(release): proxy-v1.1.0
  apps/proxy/package.json
Due: pnpm exec prettier --write
