Repository sniff-dev/sniff: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "*.{json,md,mdx,yaml,yml}": ["pnpm exec prettier --write"]
}

chore: bun lock + .env.example
  .env.example
  bun.lock
Due: none

feat: add default proxy url
  .env.example
  apps/cli/.env.example
  apps/cli/src/commands/auth.ts
  apps/proxy/src/index.ts
  packages/core/src/env.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): proxy-v1.2.0
  apps/proxy/package.json
Due: pnpm exec prettier --write

feat: cors + callback + branding
  apps/cli/src/commands/auth.ts
  apps/proxy/src/routes/oauth.ts
  packages/orchestrator/src/server/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): proxy-v1.3.0
  apps/proxy/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  53da05deaff6bd4c88e52db0c3a3fd981ff20172
Due: none

chore: add tunnel url
  apps/proxy/wrangler.toml
Due: none

feat: add cc as dep
  apps/cli/package.json
  bun.lock
Due: pnpm exec prettier --write

chore(release): cli-v1.22.0
  apps/cli/package.json
Due: pnpm exec prettier --write

fix: move claude agent sdk as ext dep
  apps/cli/package.json
  bun.lock
  packages/runner-claude/package.json
Due: pnpm exec prettier --write

chore(release): cli-v1.22.1
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  7121768124c4d8dd5b11ca001947cbf3b4610bce
Due: none

Notes added by 'git notes add'
  d8570a6e69261ba18b6c780ede7440b42a7b221e
Due: none

feat: project specific config
  apps/cli/src/commands/auth.ts
  apps/cli/src/commands/status.ts
  packages/storage/src/paths.ts
  packages/storage/src/tokens.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): cli-v1.23.0
  apps/cli/package.json
Due: pnpm exec prettier --write

chore(release): proxy-v1.5.0
  apps/proxy/package.json
Due: pnpm exec prettier --write

chore(release): cli-v1.24.1
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  1e4ea85332edecea1112de6611c43b2622c16fd9
Due: none

chore(release): proxy-v1.6.1
  apps/proxy/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  60bd35e684e6d3e1c9010745f297f42bf07b8783
Due: none

fix: global / local tokens
  apps/cli/src/commands/auth.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): proxy-v1.7.0
  apps/proxy/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  238c60b22b01bd4fe9281bc1b19adaa469b25a78
Due: none

Notes added by 'git notes add'
  1d0073e7224cb070db9d257426d501ceeb3c7152
Due: none

fix: linear mcp
  packages/orchestrator/src/coordinator.ts
  sniff.yml.example
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(release): cli-v1.26.1
  apps/cli/package.json
Due: pnpm exec prettier --write

chore(release): proxy-v1.8.1
  apps/proxy/package.json
Due: pnpm exec prettier --write

feat: label and team triggers
  packages/config/src/loader.ts
  packages/config/src/schema.ts
  packages/orchestrator/src/coordinator.ts
  sniff.yml.example
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  c58d5f7eb18c100bd647d822f1b6d356c68dcd0d
Due: none

chore(release): cli-v1.27.0
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  d8c7d6b4eb672d33295234ad7176265d0b6de135
Due: none

fix: docker with bun
  apps/web/Dockerfile
Due: none

chore(release): cli-v1.27.1
  apps/cli/package.json
Due: pnpm exec prettier --write

fix: make Dockerfile self-contained
  apps/web/Dockerfile
Due: none

chore(release): proxy-v1.9.2
  apps/proxy/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  40a9bdc3954c2596a0e2a00be47e96bb7abf4ad7
Due: none

chore(release): cli-v1.28.0
  apps/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  bc5db4ca9f9a21deb2f1fc10372cff31cf4af10c
Due: none

chore(release): proxy-v1.10.0
  apps/proxy/package.json
Due: pnpm exec prettier --write
