Repository sniff-dev/sniff: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

refactor: improve ESLint configuration structure and update type inference in config validation
  .lintstagedrc.json
  eslint.config.js
  packages/config/src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  275cd463d8e9661ac829617a8fb628a066e0af93
Due: none

Notes added by 'git notes add'
  e3fd3d740cb4f6cd72fade5a8758a9ef6bd9e81e
Due: none

Notes added by 'git notes add'
  1154ad425dc1501e23593bdc6b0b8fcb6dda8a6a
Due: none

chore(release): @sniff-dev/cli 1.11.1 [skip ci]
  packages/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  6aa3e91f854314a947e30ab7643f6778f6655e70
Due: none

feat: enhance configuration testing with environment variable support
  packages/config/.releaserc.cjs
  packages/config/package.json
  packages/config/test/fixtures/.env.test
  packages/config/test/fixtures/config-with-env-vars.yml
  packages/config/test/unit/config-loading.test.ts
  packages/config/test/unit/env-vars.test.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  da4b4cbaa9b37c6ca63baf4b923765916b4a176c
Due: none

Notes added by 'git notes add'
  1ed0be1cfb341c32e156bc4d5494fd995840b41d
Due: none

feat: update configuration schema and dependencies for Zod v4 compatibility
  config.schema.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.ts
  packages/config/package.json
  packages/config/scripts/generate-schema.ts
  packages/config/src/index.ts
  packages/config/test/unit/zod-validation.test.ts
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  da2fea90b8c87713311d257ce57370a311470192
Due: none

Notes added by 'git notes add'
  5cbf063f358c602757ce473f862efcc84fd8cb13
Due: none

Notes added by 'git notes add'
  fd609618179a0d4e7de37b0a8814dacf6a50a72c
Due: none

chore(release): @sniff-dev/cli 1.13.0 [skip ci]
  packages/cli/package.json
Due: pnpm exec prettier --write

feat: add renovate configuration for dependency management
  renovate.json
Due: pnpm exec prettier --write

fix: docs gen
  config.schema.json
  docs/schema-reference.mdx
  packages/config/scripts/generate-docs.ts
  packages/config/src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  f52c34321787426f7859b58c0c6fc53b2d1ad700
Due: none

Notes added by 'git notes add'
  c0fdc366553c71ba2523dd2319a33c48dd1d9e8d
Due: none

fix: change diagrams to mermaid
  docs/how-it-works.mdx
  docs/introduction.mdx
Due: pnpm exec prettier --write

feat: leveraging polvo lib
  package.json
  packages/core/package.json
  packages/core/src/agent/runner.ts
  packages/core/src/platforms/linear/client.ts
  packages/core/src/platforms/linear/platform.ts
  packages/core/src/platforms/linear/webhook.ts
  packages/core/src/platforms/platform.ts
  packages/core/src/platforms/types.ts
  packages/core/src/server/index.ts
  packages/core/src/server/start.ts
  pnpm-lock.yaml
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Notes added by 'git notes add'
  97026f922a87779c51245980d1a60b020dc1e5ae
Due: none

Notes added by 'git notes add'
  c78ab4f768a4d097a578b74203f4c2a0938bbae2
Due: none

Notes added by 'git notes add'
  0f0d45d4cbb21a67ce4812c0b198d580c4376156
Due: none

fix: load db
  Dockerfile
Due: none

Notes added by 'git notes add'
  f1aad3e0b486c69de30db119a056955a88c03852
Due: none

Notes added by 'git notes add'
  899ff5ddf50859a666ff62d1933fa4876683a31a
Due: none

chore(release): @sniff-dev/cli 1.15.0 [skip ci]
  packages/cli/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  6d607068e0d214525b79c22c40212a3a71a0243d
Due: none

Notes added by 'git notes add'
  4189515ed82c5c5ef3957298c436c9e27635af08
Due: none

Notes added by 'git notes add'
  efd80f17af0b8659b6c6017a0aa5d7a5a3183b31
Due: none

chore(release): @sniff-dev/core 1.2.0 [skip ci]
  packages/core/package.json
Due: pnpm exec prettier --write

Notes added by 'git notes add'
  c566c5c064949175791fa3c9f140365033abc8ff
Due: none

Notes added by 'git notes add'
  bb947e9f9d5174b21a36d3dd342cf7efd4af0773
Due: none

Notes added by 'git notes add'
  708ce67b2afbf9f86d2770622b96abbebb298425
Due: none

Path conditions:
  pnpm exec eslint --fix: any of: *.{js,jsx,ts,tsx}
  pnpm exec prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
